
// $black: rgba(0, 0, 0, 0.781);
// $white: rgb(255, 255, 255);
// $pink1: rgba(255, 223, 221, 0.63);
// $pink2: rgba(226, 200, 198, 0.774);
// $blue: rgba(66, 123, 248, 0.904);
// $red: rgba(255, 0, 0, 0.726);
// $yellow: rgba(255, 255, 0, 0.795);
// $grey: rgba(128, 128, 128, 0.822);

$d-flex: flex;
$d-inlineblock: inline-block;
$d-grid: grid;

$paleta: (
    'uno': rgba(0, 0, 0, 0.781),
    'dos': rgb(255, 255, 255),
    'tres': rgba(221, 236, 255, 0.63),
    'cuatro': rgba(226, 200, 198, 0.774),
    'cinco': rgba(255, 255, 255, 0.705),
    'seis': rgba(255, 255, 255, 0.685),
    'siete': rgba(255, 255, 0, 0.795),
    'ocho':rgba(146, 146, 146, 0.836),
    'nueve': rgba(0, 0, 0, 0.87),
    'diez':rgba(55, 93, 177, 0.911),
    'once': rgba(64, 66, 70, 0.863),
    'doce': rgb(216, 162, 15),
    'trece': rgb(158, 38, 1),
);
