main{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows:auto auto auto auto auto auto;
    background-color: map-get($map: $paleta, $key:'nueve' );
}

#h1{
    font-size: 6rem;
    font-family: $titlefont;
    color: map-get($map: $paleta, $key:'dos' );
}

.divI1{
    text-align: center;
    grid-column: 2 / 5;
}

#divI1{
    background-image:url(../imagenes/imagen-heroe1.jpg);
    width: 100%;
    grid-column: 1 / 8;
    height: 625px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

h2, h3{
    text-align: center;
    font-size: 2rem;
    font-family:'Spartan', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    color:map-get($map: $paleta, $key:'ocho' );
}

.divI2{
    text-align: center;
    grid-column: 2 / 5;
}

.divI3{
    text-align: center;
    font-family: $mainfont;
    grid-column: 2 / 5;
    color: map-get($map: $paleta, $key:'diez');
}

.divI4{
    grid-column: 1 / 8;
    margin: 40px 20px 20px 20px;
}
