@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@600&display=swap');
$mainfont: 'Outfit', sans-serif;
$titlefont: 'Martel', serif;
$spartanfont:'Big Shoulders Text', cursive;
