main{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows:auto auto auto auto auto auto;
    background-color: map-get($map: $paleta, $key:'nueve' );
}
.textNombres{
    color:map-get($map: $paleta, $key:'trece' );
    font-size: 1.3rem;
}
#wod{
    font-family: $titlefont;
    color: map-get($map: $paleta, $key:'dos' );
    font-size: 3rem;
}

.divW{
    grid-column-start: 1;
    grid-column-end: 7;
    font-family: $mainfont;
    padding: 20px 40px 20px 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.divW1{
    margin-top: 5px;
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: $mainfont;
    padding: 1rem 20px 5px 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(155, 155, 155);
    border-top: 2px solid rgb(155, 155, 155);
}

div p{
    color: map-get($map: $paleta, $key:'cuatro' );
}


.divW2{
    grid-column-start: 4;
    grid-column-end: 7;
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: $mainfont;
    margin-right: 30px;
    padding: 1rem 20px 5px 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(155, 155, 155);
    border-top: 2px solid rgb(155, 155, 155);
}